{% extends 'base.html' %}
{% block content %}
    <section class="container mt-2 border rounded px-0 section-width">
        <div class="header py-3 ps-3 ">
            <select class="form-select ms-2 h-75 w-auto stepSelect" aria-label="Default select example">
                <option selected>Step 1 - When And Where</option>
                <option value="1" disabled>Step 2 - Choose A Car</option>
                <option value="2" disabled>Step 3 - Price And Extras</option>
                <option value="3" disabled>Step 4 - Checkout</option>
                <option value="4" disabled>Step 5 - Finish</option>
            </select>
        </div>
        <form method="POST" action="{% url 'index' %}" id="my_form">
            {% csrf_token %}
            <div class="row mx-2">
                <div class="col-sm-12 col-lg-6 py-3 ps-3">
                    <label><b>Pick-up Date/Time</b></label>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 first-input-page">
                            <div class="input-group date">
                                <span class="input-group-append">
                                    <span class="input-group-text bg-light d-block">
                                        <i class="fa-regular fa-calendar blue-icon"></i>
                                    </span>
                                </span>
                                {{ form.pickup_date }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6  first-input-page">
                            <div class="input-group date">
                                <span class="input-group-append">
                                    <span class="input-group-text bg-light d-block">
                                       <i class="fa-regular fa-clock blue-icon"></i>
                                    </span>
                                </span>
                                {{ form.pickup_time }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 py-3 ps-3">
                    <label><b>Return Date/Time</b></label>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 first-input-page">
                            <div class="input-group date">
                                <span class="input-group-append">
                                    <span class="input-group-text bg-light d-block">
                                        <i class="fa-regular fa-calendar blue-icon"></i>
                                    </span>
                                </span>
                                {{ form.return_date }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6 first-input-page">
                            <div class="input-group date">
                                <span class="input-group-append">
                                    <span class="input-group-text bg-light d-block">
                                        <i class="fa-regular fa-clock blue-icon"></i>
                                    </span>
                                </span>
                                {{ form.return_time }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mx-2">
                <div class="col-sm-12 col-lg-6 first-input-page py-3 ps-3">
                    <label><b>Pick-up Location</b></label>
                    {{ form.pickup_location }}
                    <label class="pt-2" for=""><i class="fa-solid fa-location-dot"></i> Can't find the location?<a
                            href="#" class="text-decoration-none"> View Map</a></label>
                </div>
                <div class="col-sm-12 col-lg-6 first-input-page py-3 ps-3 ">
                    <label><b>Return Location</b></label>
                    {{ form.return_location }}
                    <div class="form-check pt-2">
                        <input class="form-check-input" type="checkbox" checked id="disabledAddress">
                        <label class="form-check-label" for="disabledAddress">
                            Same as the pick-up location
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-center my-3">
                <button class="btn w-auto btn-primary quote-button" type="submit">GET A QUOTE NOW</button>
            </div>
        </form>
    </section>
{% endblock %}